{% extends 'base.html' %}

{% block title %}
Клиенты
{% endblock %}

{% block content %}
<h1>Клиенты</h1>

<form method="post">
    <input type="text" name="fio_client" placeholder="Введите ФИО клиента" class="form-control"><br>
    <input type="text" name="phone_client" placeholder="Введите сотовый клиента" class="form-control"><br>
    <input type="text" name="address_client" placeholder="Введите адрес клиента" class="form-control"><br>
    <button class="btn btn-success" type="submit">Добавить</button>

</form>
{% endblock %}