{% extends 'base.html' %}

{% block title %}
Сотрудники
{% endblock %}

{% block content %}
<h1>Сотрудники</h1>

<form method="post">
    <input type="text" name="fio_seller" placeholder="Введите ФИО сотрудника" class="form-control"><br>
    <input type="text" name="phone_seller" placeholder="Введите сотовый сотрудника" class="form-control"><br>
    <input type="text" name="specialization" placeholder="Введите специализацию сотрудника" class="form-control"><br>
    <button class="btn btn-success" type="submit">Добавить</button>

</form>

{% endblock %}